body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    display: flex;
    height: calc(100vh - 40px);
}

.profile {
    width: 20%;
    background-color: beige;
    text-align: center;
    border-radius: 20px;
}

.profile .name {
    margin-top: 40px;
    margin-bottom: 30px;
    letter-spacing: 3px;
    font-size: 50px;
}

.profile-picture img{
    border-radius: 50%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

.profile .status {
    font-style: italic;
    font-size: 14px;
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.navbar {
    height: 50px;
    background-color: beige;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    border-radius: 20px;
}

.navbar nav {
    font-size: 24px;
    margin-right: 30px;
}

.navbar nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
}

.navbar .nav-icon {
    margin-right: 5px;
    vertical-align: middle;
    text-decoration: none;
}


.navbar nav a:hover ~ .navbar .nav-icon{
    text-decoration: underline;
    color: black;
}


.content {
    flex: 1;
}

