<div class="profile-content">
    <h1>Nuno Silva</h1>
    <img src="images/avatar.jpg" alt="Profile Picture" class="profile-pic">
    <p class="status">"Lorem ipsum dolor sit <br>amet, consectetur adipiscing elit."</p>
    <div class="social-links">
        <a href="mailto:example@gmail.com"><img src="images/at-sign.png"></a>
        <a href="https://github.com/nuno2msilva/"><img src="images/github.png"></a>
        <a href="https://www.linkedin.com/"><img src="images/linkedin.png"></a>
    </div>
</div>